api_version: 1
homeserver: ""
homeserver_domain: ""
mas_client_id: ""
mas_client_secret: ""
api_authentication_info: "ShortMesh API Authentication v1"
db_key: "" #hex encoded 64 characters long
server:
  host: "0.0.0.0"
  port: 8080
rabbitmq:
  username: "guest"
  password: "guest"
  port: 5672
  host: "0.0.0.0"
  is_tls: false
  tls:
    crt: ""
    key: ""
bridges:
  - name: wa 
    botname: "@whatsappbot:matrix.example.com"
    username_template: "whatsapp_{{.}}"
    display_username_template: "{{.}} (WA)"
    cmd:
      login: "!wa login qr"
      list-logins: "* `%s` (+%s) - `CONNECTED`"
      devices: "!wa list-logins"
      logout: "!wa logout %s"
      management: "!wa set-management-room"
      start-conversation: "!wa start-chat %s %s"
      success: "Successfully logged in as %s"
      login-qr: "Scan the QR code with the WhatsApp mobile app to log in"
      login-qr-failed: "Login failed: Entering code or scanning QR timed out. Please try again."
      login-qr-filename: "qr.png"
      cancel: "!wa cancel"

  - name: signal
    botname: "@signalbot:matrix.example.com"
    username_template: "signal_{{.}}"
    display_username_template: "{{.}} (Signal)"
    cmd:
      login: "!signal login"
      list-logins: "* `%s` (+%s) - `CONNECTED`"
      devices: "!signal list-logins"
      logout: "!signal logout %s"
      management: "!signal set-management-room"
      start-conversation: "!signal start-chat %s %s"
      success: "Successfully logged in as %s"
      login-qr: "Scan the QR code with the Signal mobile app to log in"
      login-qr-failed: "Login failed: Entering code or scanning QR timed out. Please try again."
      login-qr-filename: "qr.png"
      cancel: "!signal cancel"

  - name: telegram
    botname: "@telegrambot:matrix.example.com"
    username_template: "telegram_{{.}}"
    display_username_template: "{{.}} (Telegram)"
    cmd:
      login: "!tg login qr"
      list-logins: "* `%s` (+%s) - `CONNECTED`"
      devices: "!tg list-logins"
      logout: "!tg logout %s"
      management: "!tg set-management-room"
      start-conversation: "!tg start-chat %s %s"
      success: "Successfully logged in as %s"
      login-qr: "Scan the QR code with the Signal mobile app to log in"
      login-qr-failed: "Login failed: Entering code or scanning QR timed out. Please try again."
      login-qr-filename: "qr.png"
      cancel: "!tg cancel"